/build/
/Application_Controller_Pattern_CALCULATOR/nbproject/private/
/Application_Controller_Pattern_CALCULATOR/build/
/MVC_EXAMPLE/nbproject/private/
/Threads_Executor_Runnables/nbproject/private/
/MVC_CALCULATOR/nbproject/private/
/MVC_CALCULATOR/build/