/build/
/Application_Controller_Pattern_CALCULATOR/nbproject/private/
/Application_Controller_Pattern_CALCULATOR/build/
/MVC_EXAMPLE/nbproject/private/
/Threads_Executor_Runnables/nbproject/private/
/MVC_CALCULATOR/nbproject/private/
/MVC_CALCULATOR/build/
/URL_Http_Connection/nbproject/private/
/URL_Http_Connection/build/
/Hikes_MVC/nbproject/private/
/Hikes_MVC/build/